node_modules/
.pnp/
.pnp.js


.next/
out/
dist/
.cache/
.vscode/


npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


.env*
*.pem


.DS_Store
Thumbs.db


.venv/
.venv-bg/
__pycache__/
._*